@import '../../../variables';

ion-list-header {
  margin-top: 8px;
  font-size: .9em;
}

ion-item {
  ion-icon {
    font-size: 1.2em;
    margin-right: $button-icon-margin;
  }
}

.profile-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ion-card-background);

  h2 {
    margin-top: 12px;
  }

  p {
    margin: 0;
  }
}