<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Zamknij</ion-button>
    </ion-buttons>

    <ion-title>Ustawienia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-info">
    <ion-avatar>
      <img src="{{ photoURL }}" alt="User's profile photo">
    </ion-avatar>

    <h2>{{ isProfileBasedUser ? displayName : 'ID urządzenia' }}</h2>
    <p>{{ email || displayName }}</p>
  </div>

  <hr class="separator" />

  <form>
    <ion-list>
      <ion-list-header>Źródła danych</ion-list-header>

      <ion-item>
        <ion-label>Pobieraj ceny globalne</ion-label>
        <ion-checkbox [checked]="settings.fetchGlobally" (ionChange)="updateFetchGlobally($event)">
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Udostępniaj ceny globalnie</ion-label>
        <ion-checkbox [checked]="settings.shareGlobally" (ionChange)="updateShareGlobally($event)">
        </ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>Personalizacja</ion-list-header>
      <ion-item>
        <ion-label>Język</ion-label>
        <ion-select [value]="settings.language" (ionChange)="updateLanguage($event)">
          <ion-select-option value="pl">Polski</ion-select-option>
          <ion-select-option value="en">Angielski</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Waluta</ion-label>
        <ion-select [value]="settings.currency" (ionChange)="updateCurrency($event)">
          <ion-select-option value="pln">PLN</ion-select-option>
          <ion-select-option value="eur">EUR</ion-select-option>
          <ion-select-option value="usd">USD </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-list>
    <ion-list-header>Konto</ion-list-header>
    <ion-item (click)="signOut()">
      <ion-icon name="power"></ion-icon><span>Wyloguj</span>
    </ion-item>

    <ion-item class="color--warn">
      <ion-icon name="trash" color="warn"></ion-icon><span>Usuń konto</span>
    </ion-item>
  </ion-list>
</ion-content>