<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Zamknij</ion-button>
    </ion-buttons>

    <ion-title>Nowa cena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form [formGroup]="form">
      <ion-input class="product__name" placeholder="Nazwa produktu" formControlName="name"></ion-input>
      <div class="price-wrapper">

        <ion-input type="number" class="product__price" placeholder="Cena" formControlName="price"></ion-input>

        <div class="product__price__labels">
          <span class="price__currency">{{ domesticCurrency }}</span>
          <span class="price__slash">/</span>
          <ion-select formControlName="unit">
            <ion-select-option *ngFor="let unit of units" [value]="unit">{{ unit }}</ion-select-option>
          </ion-select>
        </div>
      </div>
    </form>
    <ion-button class="button--gradient" align="end" [disabled]="!form.valid" (click)="onInsert()">
      <ion-icon name="add"></ion-icon>Dodaj
    </ion-button>
  </div>
</ion-content>