<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Zamknij</ion-button>
    </ion-buttons>

    <ion-title>Nowa cena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form>
      <ion-input class="product-name" placeholder="Nazwa produktu"></ion-input>
      <div class="price-wrapper">

        <ion-input type="number" class="product-price" placeholder="Cena"></ion-input>
        <ion-select value="kg">
          <ion-select-option value="pcs">szt.</ion-select-option>
          <ion-select-option value="kg">kg</ion-select-option>
          <ion-select-option value="g">g</ion-select-option>
        </ion-select>
      </div>
    </form>
    <ion-button class="button--gradient" align="end">Dodaj</ion-button>
  </div>
</ion-content>