@import "../../../variables";
@import "../../../common";

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: $home-screen-padding $home-screen-padding 0;
  background-color: var(--ion-card-background);
}

form {
  width: 100%;

  ion-input {
    --padding-start: 16px;
    --padding-end: 16px;
    height: $serach-bar-height;
    border-radius: $border-radius-full;
  }

  .price-wrapper {
    display: flex;
    align-items: center;
    margin-top: 16px;
    
    ion-input {
      margin-right: 8px;
    }
  }
}

ion-button.button--gradient {
  margin: 16px auto 0;
  width: 100%;
  justify-self: flex-end;
}

// Light mode
@media (prefers-color-scheme: light) {
  form {
    ion-input {
      background: rgba(black, .1);
    }
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {  
  form {
  ion-input {
    background: rgba(white, .1);
  }
}
}