@import "../../../variables";
@import "../../../common";

ion-input {
  --padding-start: 16px;
  --padding-end: 16px;
  background: rgba(white, .1);
  border-radius: $border-radius;
  font-size: 1.3em;
}

.price-wrapper {
  display: flex;
  align-items: center;

  margin-top: 16px;

  ion-input {
    margin-right: 8px;
  }

  ion-select {
    font-size: 1.3em;
  }
}