<ion-content class="ion-padding">
  <section class="login-credentials">
    <ion-button (click)="singInWithGoogle()" class="button--gradient">
      <ion-icon name="logo-google"></ion-icon>Logowanie z Google
    </ion-button>
    
    <ion-button (click)="singInWithDeviceId()" class="button--gradient">
      <ion-icon name="id-card"></ion-icon>Logowanie przez ID urządzenia
    </ion-button>
  </section>

  <div *ngIf="isChecking" class="full-screen-loader">  
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
</ion-content>