.login-credentials {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-button {
    width: 100%;
  }

  p {
    text-align: center;
  }
}