@import '../../../variables';
@import '../../../mixins';

ion-content {
  position: relative;
}

.settings-icon {
  position: fixed;
  z-index: 10;
  top: 16px;
  right: 16px;

  font-size: 24px;
}

ion-input, ion-button {  
  position: fixed;
  left: 16px;
  right: 16px;
  --height: $serach-bar-height;
  max-width: calc(100% - 2 * #{$home-screen-padding});
}

ion-input {
  bottom: calc(24px + #{$serach-bar-height});
  --height: $serach-bar-height;

  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --padding-end: 16px;

  font-size: 18px;
  box-sizing: border-box;
  text-align: center;
  backdrop-filter: blur(20px);
  border-radius: $serach-bar-height;
}

ion-button {
  bottom: 8px;
  height: $serach-bar-height;
}

// Light theme
@media (prefers-color-scheme: light) {
  ion-input {
    background-color: rgba(black, 0.1);
  }
}

// Dark theme
@media (prefers-color-scheme: dark) {
  ion-input {
    background-color: rgba(white, 0.1);
  }
}