<ion-content [fullscreen]="true">
  <ion-icon (click)="onOpenSettingsDialog()" class="settings-icon" name="settings-outline"></ion-icon>

  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>

  <ion-input autofocus class="home-screen__search-bar" placeholder="Szukaj produdktu"></ion-input>

  <ion-button class="button--gradient" (click)="onOpenPriceInsertionPopover()">
    <ion-icon name="add"></ion-icon>
    Dodaj cenę produktu
  </ion-button>

</ion-content>