// ===================================
// ============== PAGES ==============
// ===================================
.page-container {
  padding: $home-screen-padding;
}

// ====================================
// ============== MODALS ==============
// ====================================
.modal--bottom {
  top: calc(100% - #{$insertion-modal-height}) !important;
}

hr.drag-bar {
  border-radius: $border-radius-full;
  height: 4px;
  width: 40%;
  margin: 0 auto;
  background-color: white;
  margin: $home-screen-padding auto;
}

// =====================================
// ============== BUTTONS ==============
// =====================================
ion-button {
  min-width: $button-min-width;

  ion-icon {
    margin-right: $button-icon-margin;
  }

  &.button--small {    
    height: 30px;
  }

  &.button--main {    
    height: $button-height;
  }

  &.button--gradient {    
    --border-radius: #{$serach-bar-height};
    --background: linear-gradient(15deg, #A0C56E , #278F5E);
    color: white;
  }
}

// ====================================
// ============== COLORS ==============
// ====================================
.color {
  &--warn {
    color: var(--ion-color-danger);
  }
}

// ========================================
// ============== SEPARATORS ==============
// ========================================
hr.separator {
  height: 1px;
  width: 100%;
  margin: 0;
  background-color: var(--ion-color-light);
  border: none;
}

// =====================================
// ============== LOADERS ==============
// =====================================
.full-screen-loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--ion-background-color);

  display: flex;
  justify-content: center;
  align-items: center;

  ion-spinner {
    transform: scale(2);
  }
}

