$margin-regular: 8px;
$margin-big: 16px;
$home-screen-padding: 16px;
$button-icon-margin: 4px;

$border-radius: 6px;
$border-radius-full: 100px;

$serach-bar-height: 48px;
$button-height: 40px;
$button-min-width: 100px;