@import '../../variables';

.home-screen__search-bar {
  position: absolute;
  bottom: 64px;
  left: 0;

  backdrop-filter: blur(20px);
  margin: auto $margin-big;
  border-radius: $serach-bar-height;
  border: 1px solid white;

  input {
    border-bottom: none;
  }
}

ion-button {
  --border-radius: 4px;
}

.navigation {
  width: 50%;
}

ion-footer {
  background-color: transparent;
}

ion-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-image: -webkit-radial-gradient(
    calc(100% - 48px) 0,
    circle,
    transparent 0,
    transparent 35px,
    #1f79ff 35px
  );  
}